<script>

	import { onMount } from "svelte"
	import marked from "$lib/tools/marked-2.0.5/marked.esm.js"

	import Reveal from "$lib/components/reveal.svelte"
	import Select from "$lib/components/select.svelte"
	import TextArea from "$lib/components/textarea.svelte"
	import Input from "$lib/components/input.svelte"

	import { indexh, indexv,
		text as slideText,
		transition as slideTransition,
		background as slideBackground,
		slide  as currentSlide,
		error } from "./editor-store.mjs";
	import { makeShowPreview as __makeShowPreview} from './helpers.mjs'

	const DEFAULTTRANSITION = "slide"
	const DEFAULTTHEME = "black"

	export let showname

	let reveal, themes, transitions
	let theme

	let slideShow

	let showTitle

	let mrkd, showPreview

	let overview
	let slidesTitle

	onMount(async () => {
	  themes = reveal.getThemes()
	  transitions = reveal.getTransitions()
	  slideShow = await loadShow()
		theme = slideShow.theme || DEFAULTTHEME
		background = slideShow.background
		if (background) {
			backgroundw = slideShow.backgroundw
			backgroundh = slideShow.backgroundh
		}
		showTitle = slideShow.title || ""
	  overview = slideShow.slides.length > 1
	  let slide = slideShow.slides[$indexh][$indexv]
	  $slideText = slide.text
	  //slideNotes = slide.notes || ""
	  $slideTransition = slide.transition || DEFAULTTRANSITION
		$slideBackground = slide.background
		showPreview = makeShowPreview()
	})

	async function loadShow() {
		const result = await fetch(`/api/show/${showname}.json`)
		let show = {slides:[[{text:'# edit your slides ..'}]]}
		if (result.ok) {
			show = await result.json()
		} else {
			$error = result
		}
	  return show
	}

	function makeShowPreview() {
		if (!slideShow) return ''
		//slideShow.slides[$indexh][$indexv].text = $slideText
		slideShow.slides[$indexh][$indexv] = $currentSlide
	  let html = __makeShowPreview(slideShow)
		/*
	  for (const horizontal of slideShow.slides) {
	    html +=  `<section data-transition="${horizontal[0].transition}" >\n`
			const isVertical = horizontal.length > 1
	    for (const slide of horizontal) {
	      if (isVertical) html += `<section data-transition="${slide.transition}" >\n`
	      html += markdown2html(slide.text)
	      if (isVertical) html += "\n</section>\n"
	    }
	    html += "</section>\n"
	  }
		*/
		/*
		<!--
		 <div>
				 <video id="bgvid" poster="https://netikino.ee//movie_data/backgrounds/background_64.png" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
					 <source src="https://netikino.ee//movie_data/background_videos/background_video_ogg_64.ogv" type="video/ogg">
					 <source src="https://netikino.ee//movie_data/background_videos/background_video_webm_64.webm" type="video/webm">
					 <source src="https://netikino.ee//movie_data/background_videos/background_video_mp4_64.mp4" type="video/mp4">
				 </video>
			 </div>
			 <div>
		<video id="bgvid" poster="/movie_data/backgrounds/background_114.png" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
			<source src="/" type="video/webm">
			<source src="/movie_data/background_videos/background_video_mp4_114.mp4" type="video/mp4">
			<source src="/" type="video/ogg">
		</video>
	</div>

	PEMDAS
	Punkt vor Strich
			 -->
		*/
		/*
		html +=`
			<section data-background-image="https://kodu.lab/public/img/ourlogo.png"
			data-background-size="contain"
			data-background-repeat="no-repeat"
			>
				ascasc asc ascas

			</section>

			<section data-background-video="https://netikino.ee//movie_data/background_videos/background_video_mp4_64.mp4"
				data-background-video-loop data-background-video-muted>
				<h3>ei mäleta, peab märkmikust järgi vaatama</h3>
			</section>

			<section data-background-video="https://netikino.ee//movie_data/background_videos/background_video_mp4_114.mp4"
				data-background-video-loop data-background-video-muted>
				<h3>eit mäletas, aga eit suri ära</h3>
			</section>
		`
		*/

		//fetch()
		fetch(`/api/show/${showname}.json`, {
	    method: 'POST',
	    body: JSON.stringify(slideShow)
	  });

	  return html
	}

	function addSlideRight() {
		overview = true
		slideShow.slides.splice($indexh+1,0,[{text:`# ${$indexh+1}`,transition:DEFAULTTRANSITION}])
		$indexh ++
		$indexv = 0
		let slide = slideShow.slides[$indexh][$indexv]
		$slideText = slide.text
		$slideTransition = slide.transition
		$slideBackground = ''

	}

	function addSlideLeft() {
		overview = true
		slideShow.slides.splice($indexh,0,[{text:`# ${$indexh}`,transition:DEFAULTTRANSITION}])
		//$indexh ++
		let slide = slideShow.slides[$indexh][$indexv]
		$slideText = slide.text
		$slideTransition = slide.transition
		overview = true
		$slideBackground = ''
	}
	function addSlideDown() {
		overview = true
		slideShow.slides[$indexh].splice($indexv+1,0,{text:`# ${$indexh}.${$indexv+1}`,transition:DEFAULTTRANSITION})
		$indexv ++
		let slide = slideShow.slides[$indexh][$indexv]
		$slideText = slide.text
		$slideTransition = slide.transition
		$slideBackground = ''
	}
	function addSlideUp() {
		overview = true
		slideShow.slides[$indexh].splice($indexv,0,{text:`# ${$indexh}.${$indexv}`,transition:DEFAULTTRANSITION})
		let slide = slideShow.slides[$indexh][$indexv]
		$slideText = slide.text
		$slideTransition = slide.transition
		$slideBackground = ''
	}
	function removeSlide() {
		  if (slideShow.slides.length === 1 && slideShow.slides[0].length === 1) return
			overview = true
			slideShow.slides[$indexh].splice($indexv,1)
			if ($indexv > 0 && $indexv === slideShow.slides[$indexh].length) $indexv --
			else if (!slideShow.slides[$indexh].length) {
				slideShow.slides.splice($indexh,1)
				$indexv = 0
				$indexh --
				if ($indexh < 0) $indexh = 0
			}
			let slide = slideShow.slides[$indexh][$indexv]
		  $slideText = slide.text
		  $slideTransition = slide.transition
			$slideBackground = slide.background
	}

	const markdown2html = (s = '') => marked(s)

  $: if ($slideText) {
		markdown2html()
	}
	$: if ($currentSlide) {
		overview = false
		showPreview = makeShowPreview()
	}
	$: if(theme) {
		slideShow.theme = theme
		showPreview = makeShowPreview()
	}
	$: if (background) {
		slideShow.background = background
		showPreview = makeShowPreview()
	}
	$: if (backgroundw && backgroundh){
		slideShow.backgroundw = backgroundw
		slideShow.backgroundh = backgroundh
		showPreview = makeShowPreview()
	}

let background, backgroundw, backgroundh

</script>


<svelte:head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
</svelte:head>


<table style="">
	<tr>
		<td style="width:45vw;height:49vh;">
				<TextArea bind:value="{$slideText}" />

		</td>
		<td style="width:3vw;">
			<button on:click="{addSlideRight}">+</button>
		</td>
		<td style="width:49vw;height:49vh;">
			{#key theme}
			{#key showPreview}

			<Reveal
			bind:this="{reveal}"
			source="{showPreview}"
			theme="{theme}"
			overview="{overview}"
			indexh="{$indexh}"
			indexv="{$indexv}"
			background="{background}"
			backgroundh="{backgroundh}"
			backgroundw="{backgroundw}"
			on:change="{({detail})=>{
				$indexh = detail.indexh
				$indexv = detail.indexv
				$slideText = slideShow.slides[$indexh][$indexv].text
				$slideTransition = slideShow.slides[$indexh][$indexv].transition
				$slideBackground = slideShow.slides[$indexh][$indexv].background
			}}"
			/>
			{/key}
			{/key}
		</td>
	</tr>
	<tr>
		<td style="height:1vh;">
				<button on:click="{addSlideDown}">+</button>
		</td>
		<td>
			<span>
			<button on:click="{removeSlide}">-</button>
			&nbsp;{$indexh} {$indexv}
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<fieldset>
				<h3>slide</h3>
				<label for="">transition</label>
				<Select bind:selected="{$slideTransition}" options="{transitions}"  />
				<br>
				<label for="">background</label>
				<Input bind:value="{$slideBackground}" style="width:100%"/>
			</fieldset>


		</td>
		<td></td>
		<td>
			<fieldset>
				<h3>show</h3>
				<label for="">theme</label>
				<Select bind:selected="{theme}" options="{themes}"  />
				<br>
				<label for="">paralax</label>
				<Input bind:value="{background}" style="width:100%"/>
				<br>
				<label for="">width</label>

				<Input bind:value="{backgroundw}" disabled="{(!(background && background.length>4))}"/>
				<label for="">height</label>
				<Input bind:value="{backgroundh}" disabled="{(!backgroundw)}"/>

			</fieldset>
		</td>
	</tr>
</table>
