<script>

  import Input from './my/input.svelte'
  //import Input from './wall-bits/src/Input.svelte';

  export let value
  export let placeholder
  export let size
  export let style

</script>

<Input bind:value {placeholder} {size} {style}/>
