<script>
  import {onMount, createEventDispatcher} from 'svelte'
  import { themes, transitions } from '$lib/reveal/constants.mjs'


  export let source = '<section>No Slides</section>'
  export let indexh = 0
  export let indexv = 0
  export let overview = false
  export let embedded = true
  export let theme
  export let background
  export let backgroundh
  export let backgroundw

  export function getThemes() { return themes }
  export const getTransitions = () => transitions

  const dispatcher = createEventDispatcher()
  const __theme = themes.includes(theme) ? theme : 'beige'


  let slides, deck, mounted

  async function redraw(){
    const keyboardCondition = embedded ? 'focused' : undefined
    let parallaxBackgroundImage =  background //"https://upload.wikimedia.org/wikipedia/commons/5/58/Karula_maastik.jpg"
    let parallaxBackgroundSize
    if (background && backgroundh && backgroundw) parallaxBackgroundSize= `${backgroundw}px ${backgroundh}px`
    deck = mounted.reveal( slides, {
      embedded,
      keyboardCondition,
      source: source,
      transition: 'zoom',
      transitionSpeed: 'slow',
      plugins: mounted.plugins,
      parallaxBackgroundImage,
      parallaxBackgroundSize
    } );
    await deck.initialize();
    deck.slide(indexh,indexv)
    if (overview) deck.toggleOverview()

  }

  let timer
  onMount( async()=> {
    const { reveal } = await import('$lib/reveal/reveal.mjs');
    const { Externalcode } = await import('$lib/reveal/plugin/external/plugin.js')
    mounted = {reveal, plugins:[Externalcode]}
    await redraw()
    deck.on('slidechanged',({indexh, indexv})=>{
      clearTimeout(timer);
  		timer = setTimeout(() => {
  			dispatcher('change',{indexh, indexv})
  		}, 250);

    })

  })

/*
  $: if (mounted && source && goto) {
    redraw()
  }
*/
</script>

<svelte:head>
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reset.min.css">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.css">
<!--
<link rel="stylesheet" href="https://revealjs.com/main.css">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/theme/{__theme}.min.css">

</svelte:head>



<div style="height:100%;width:100%;box-sizing: border-box;">
	<div bind:this="{slides}" style="height:100%;width:100%;box-sizing: border-box;">
  <div class="slides">
    <!-- slides go here -->
  </div>
</div>
</div>

<style>



</style>
