<script>
	import {onMount} from 'svelte'

	let deck, slides
	let myslides = []
	let revealReady = false;
  let mounted = false;

	onMount(() => {
				myslides.push('kala')
				myslides.push('maja')
        mounted = true;
        if (revealReady) {
            //loadStripeElements();
						loadSlides()

        }
    });

    function revealLoaded() {
        revealReady = true;
        if (mounted) {
            //loadStripeElements();
					loadSlides()
        }
    }

	async function loadSlides() {
		deck = new Reveal( slides, {
    embedded: true,
    keyboardCondition: 'focused'
  } );
		await deck.initialize();
    deck.slide(0)

	}


</script>

<svelte:head>



  <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.js" on:load={revealLoaded}></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/theme/beige.min.css">
</svelte:head>


<div style="height:40vh;width:40vw;">
	<div class="reveal" bind:this="{slides}" style="height:100%;width:100%;">
			<div class="slides">
				{#each myslides as my}
					<section>
						{my}
				</section>
				{/each}
				<section data-transition="zoom">
					<h2>This slide will override the presentation transition and zoom!</h2>
				</section>

				<section data-transition="concave">
					<h2>This slide will override the presentation transition and concave!</h2>
				</section>

			<section>
  <pre><code data-trim data-noescape>
(def lazy-fib
  (concat
   [0 1]
   ((fn rfib [a b]
        (lazy-cons (+ a b) (rfib b (+ a b)))) 0 1)))
  </code></pre>
</section>
    <section>
			Horizontal Slide

				</section>
    <section>
      <section>Vertical Slide 1</section>
      <section>Vertical Slide 2</section>
    </section>

  </div>
		</div>

</div>
