<script>
  import {createEventDispatcher} from 'svelte'
  //import Select from './wall-bits/src/Select.svelte';
  import Select from './my/select.svelte'

  export let options
  export let selected

  const dispatch = createEventDispatcher()


</script>

<Select {options} bind:selected />
