<script>

	import { onMount } from "svelte"
	import Reveal from "$lib/components/reveal.svelte"
	import { makeShowPreview } from "$lib/components/helpers.mjs"


	export let showname

	let loaded = false
	let theme
	let showPreview
	let background, backgroundw, backgroundh

	onMount(async () => {
	  const slideShow = await loadShow()
		console.dir(slideShow)
		theme = slideShow.theme
		background = slideShow.background
		if (background) {
			backgroundw = slideShow.backgroundw
			backgroundh = slideShow.backgroundh
		}
		showPreview = makeShowPreview(slideShow)
		loaded = true
	})

	async function loadShow() {
		const result = await fetch(`/api/show/${showname}.json`)
		let show = {theme:'blood',slides:[[{text:`#### Something went wrong ;(\n ### no slides\n ## ${showname}`}]]}
		if (result.ok) {
			show = await result.json()
		} else {
			console.error(result)
		}
	  return show
	}





</script>

<div style="height:100vh;width:100vw;">
			{#if (loaded)}
			<Reveal
			source="{showPreview}"
			theme="{theme}"
			embedded="{false}"
			{background}
			{backgroundw}
			{backgroundh}
			/>
			{:else}
				wait please ..
			{/if}
</div>
