<script>
	//import {createEventDispatcher, onMount} from 'svelte'
  import TextArea from './my/textarea.svelte'

	export let value = "enter some text .."
/*
	const dispatch = createEventDispatcher()

	const initialValue = value
	let __value = initialValue
	let timer
	console.dir(value)

	$: if (__value) {
		clearTimeout(timer);
		timer = setTimeout(() => {
			value = __value;
			dispatch('changed', {value})
		}, 750);
	}
*/
const style = 'height:100%;width:100%; box-sizing: border-box; padding:1em;'

</script>

<div style="{style}">
		<TextArea {style} bind:value />
</div>
