<script context="module">
	export async function preload(p,s) {
		const parts = await this.fetch(`index.json`).then(r => r.json());
		return { parts };
	}
</script>

<script>
	import Nav from '../components/Nav.svelte';
	export let segment;
	export let parts

	let cbvalue
  let headerClass = "pin";
  let y = 0;
  let lastY = 0;
  let lastDirection = "up";

  function changeClass(y) {
    let result = headerClass;
    const scrolledPxs = lastY - y;
    const scrollDirection = scrolledPxs < 0 ? "down" : "up";
    const changedDirection = scrollDirection !== lastDirection;
    if (changedDirection) {
      result = scrollDirection === "down" ? "unpin" : "pin";
      lastDirection = scrollDirection;
    }
    lastY = y;
    return result;
  }

  $: headerClass = changeClass(y);


</script>

<style>

	:root {
		--header-height: 80px;
	}
	header {
		//background-color: darkgrey;
		height: var(--header-height);
		position: fixed;
		width: 100%;
		transition: all 0.3s linear;
		z-index: 1;
	}
	main {
		height: 150vh;
		padding-top: var(--header-height);
	}
	.pin {
		top: 0;
	}
	.unpin {
		top: calc(var(--header-height) * -1);
	}
</style>

<svelte:window bind:scrollY={y}/>
<header class={headerClass} >
	<Nav {segment} {parts}/>
</header>
<main>
  <div style="padding:1rem;">
  	<slot></slot>
  </div>
</main>
