<script context="module">
	export async function preload(page,session) {
		const parts = await this.fetch(`index.json`).then(r => r.json());
		const { user } = session
		let files
		if (user && user.admin) {
			files = await this.fetch(`/media/files.json`).then(r => r.json());
		}
		return { parts, user, files};
	}
</script>

<script>

import Blurb from '../components/Blurb.svelte'

export let parts, user, files

let name, title, annotation

async function deleteFile(f) {
	if (confirm('delete:'+ f)) {
		console.dir(f)
		fetch(`/media/${f}`,{method:'DELETE'})
		files = await fetch(`/media/files.json`).then(r => r.json());
	}
}

</script>

<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<div style="padding:1rem">


{#if (!parts || !parts.length)}
  <div class="card bg-error text-white">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
  	&nbsp; no parts !
  </div>

{:else}

	   <Blurb {parts}/>

{/if}

{#if (user && user.admin)}
<div class="row" style="font-size:75%">
  <div class="card col-12 col-6-md col-4-lg">

		  <h3>Add new part</h3>
			<form action="/index.json" method="post">
			  name:
				<br><input name=name bind:value={name}>
				title:
				<br><input name=title bind:value={title}>
				annotation:
				<br><textarea name='annotation' bind:value={annotation}></textarea>
				<br><button type="submit">Save</button>
			</form>

	</div>
	<div class="card col-12 col-6-md col-4-lg">
		<h3>Add media file</h3>
		<form action="/index.json" method="post" enctype="multipart/form-data" >
			file:
			<br><input type=file name=file multiple>
			<br><button type="submit">Upload</button>
		</form>
		<hr>
		<div class="is-small">
			{#each files as file}
			  <button style="font-size:75%;">
				<a class="text-dark" href="/media/{file}">{file}</a>
				&nbsp;

				<span class="text-error" on:click="{() => deleteFile(file)}">X</span>

				</button>
				&nbsp;
			{/each}
		</div>
	</div>
</div>
{/if}
</div>
