<script lang="ts">
  import {onMount} from 'svelte'
  import marked from "$lib/tools/marked-2.0.5/marked.esm.js"

  let newname = ''

  let showsList = []

  const markdown2html = (s = '') => marked(s)

  async function load(){
    showsList = []
    const result = await fetch('/api/show/__list__')
    if (result.ok) {
      const { shows } = await result.json()
      for (const name of shows) {
        const r = await fetch('/api/show/'+name)
        if (r.ok) {
           const s = await r.json()
           let {title,description} = s
           if (!title) title = name.split('.')[0]
           if (!description) description = s.slides[0][0].text
           showsList.push({name,title,description})
        }
      }
      showsList = [...showsList]

    } else {
      console.error(result)
    }
  }

  onMount(async()=>{
    await load()

  })
</script>

<style>

/* slideshows styles */
.slideshows {
  padding: 2rem;
}

.slideshows > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.slideshows > ul > li {
  background-color: white;
  border: 1px solid #E2E2E2;
  //border-radius: .5rem;
}

.slideshows > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.slideshows > ul > li > figure > img {
  width: 100%;
}

.slideshows > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.slideshows > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.slideshows > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.slideshows > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}

/* footer */
footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
}

</style>

<svelte:head>
	<link rel="stylesheet" href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css">
</svelte:head>



<div class="" style="background-color: #333;">

<section class="slideshows" id="slideshows">
<ul>
{#each showsList as show}

  <li>
      <div>
      <button type="button" name="button"
      on:click="{ async ()=>{
        window.location = `/show/${show.name.split('.')[0]}`
      }}"
      >slideshow</button>
      <button type="button" name="button"
      on:click="{ async ()=>{
        window.location = `/read/${show.name.split('.')[0]}`
      }}"
      >read</button>
      <button type="button" name="button"
      on:click="{ async ()=>{
        window.location = `/edit/${show.name.split('.')[0]}`
      }}"
      >edit</button>
      <button type="button" name="button"
      on:click="{ async ()=>{
        window.location = `/api/show/${show.name.split('.')[0]}.json`
      }}"
      >json</button>
      <button type="button" name="button"
      on:click="{ async ()=>{
        window.location = `/api/show/${show.name.split('.')[0]}.md`
      }}"
      >markdown</button>
      <button type="button" name="button" style="color:red;"
      on:click="{ async ()=>{
        const result = await fetch(`/api/show/${show.name}`, {
    	    method: 'DELETE'
    	  });
        if (result.ok) {
          await load()
        } else {
          console.error(result)
        }
      }}"
      >delete</button>

      <span class="" on:click="{window.location=`/show/${show.name.split('.')[0]}`}">
        <small>
        <div class="markdown-body">
        <h3>{show.title}</h3>
        <hr>
        {@html markdown2html(show.description)}
        </div>
        </small>
      </span>
      </div>
  </li>
{/each}
</ul>
</section>
<footer>
<span>
<input type="text" name="new" bind:value="{newname}" placeholder="add new .."
on:keypress="{(e)=>{
  if (e.which === 13 && newname.length > 1) {
    window.location= `/edit/${newname}`
  }
}}"
>
<button type="button" name="button" disabled="{newname.length < 2}"
  on:click="{()=>window.location= `/edit/${newname}`}"
>+</button>
</span>
</footer>

</div>
