<script context="module">
	export async function load({ page }) {
    const { params } = page
    const { showname } = params
    return { props: { showname } }
	}
</script>

<script>

  import {onMount} from 'svelte'
  import Editor from '$lib/components/editor.svelte'

  export let showname

</script>
<div class="">
	<button type="button" name="button"
	on:click="{()=>window.location= `/`}"
	>./</button>
	<button type="button" name="button"
	on:click="{()=>window.location= `/show/${showname}`}"
	>slideshow</button>
	<button type="button" name="button"
	on:click="{ async ()=>{
		window.location = `/read/${showname}`
	}}"
	>read</button>
	<button type="button" name="button"
	on:click="{ async ()=>{
		window.location = `/api/show/${showname}.json`
	}}"
	>json</button>
	<button type="button" name="button"
	on:click="{ async ()=>{
		window.location = `/api/show/${showname}.md`
	}}"
	>markdown</button>
</div>
<div>

  <Editor {showname} />
</div>
