<script context="module">
	export async function load({ page }) {
    const { params } = page
    const { showname } = params
    return { props: { showname } }
	}
</script>

<script>

  import {onMount} from 'svelte'
  import Show from '$lib/components/show.svelte'

  export let showname

</script>
<div>

  <Show {showname} />
</div>
