<script context="module">

export async function preload(page,session) {
	const { user } = session
	if (!(user && user.admin)) return {}
	const { part, md } = page.params;
	let chapter = await this.fetch(`/${part}/edit/${md}.md`).then(r => r.text())
	if (!chapter) chapter =`
---
title: title
annotation: annotation
---

# header 1

* \`# \` marks horisontal slide

notes:
- this will not shown in slides

## header 2

* \`##(+) \` marks vertical slide

`
	return { part, md, chapter, user };
}
</script>

<script>

  import Flipper from '../../../components/Flipper.svelte';
	import { extract_frontmatter } from '../../../utils/markdown.js';
	import marked from 'marked';

	export let part, md, chapter
  export let user;



</script>

<style>

	table { width: 100%; }
	table td, table td * {
    vertical-align: top;
}
	textarea { width: 100%; height: 300px; }

</style>

{#if (user && user.admin)}
<!-- https://daringfireball.net/projects/markdown/syntax -->
<table>
	<tr>
		<td>Edit: {part}/{md}</td>
		<td>Preview | Help</td>
	</tr>
	<tr align=>
		<td width="50%">
			<form action="/{part}/edit/{md}.md" method="post">
  			<textarea name='txt' bind:value={chapter} ></textarea>
  			<button type="submit">Save</button>
				<button type="button" onclick="window.history.back();">Cancel</button>
			</form>
			<form action="/{part}/edit/{md}.md" method="post">
				<input name="delete" type="hidden" value="xm234jq">
				<button type="submit">Delete</button>
			</form>
		</td>
		<td >
			<Flipper >
				<span slot="front" class="bg-light" style="font-size:50%">
					{@html marked(extract_frontmatter(chapter).content)}
				</span>
				<span slot="back" style="font-size:50%">
						<pre>
# H1
###### H6

#  marks horisontal slide
##(+)  marks vertical slide

Emphasis, aka italics, with *asterisks* or _underscores_.
Strong emphasis, aka bold, with **asterisks** or __underscores__.
Combined emphasis with **asterisks and _underscores_**.

Strikethrough uses two tildes. ~~Scratch this.~~

> Blockquotes are very handy in email to emulate reply text.
> This line is part of the same quote.

1. First ordered list item
2. Another item
  * Unordered sub-list.
1. Actual numbers don't matter, just that it's a number
 1. Ordered sub-list
4. And another item.

You can have properly indented paragraphs within list items.

* Unordered list can use asterisks
- Or minuses
+ Or pluses

[I'm an inline-style link](https://www.google.com)
[I'm a relative reference to a same host f](/1#intro)

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
![alt text](favicon.png)

Inline `code` has `back-ticks around` it.

```
But let's throw in a <b>tag</b>.
```


| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

There must be at least 3 dashes separating each header cell.
Colons can be used to align columns.

						</pre>
				</span>
			</Flipper>
		</td>
	</tr>
</table>

{/if}
