<script context="module">
	export async function load({ page }) {
    const { params } = page
    const { showname } = params
    return { props: { showname } }
	}
</script>

<script>

  import {onMount} from 'svelte'
	import marked from "$lib/tools/marked-2.0.5/marked.esm.js"

  export let showname

	let html

	const markdown2html = (s = '') => marked(s)

	onMount( async () => {
		const result = await fetch(`/api/show/${showname}.md`)
		const mrkdwn = await result.text()
		html = markdown2html(mrkdwn)
	})

// https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css
</script>

<svelte:head>
	<link rel="stylesheet" href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css">
</svelte:head>


<div class="markdown-body">
<div class="">
	<button type="button" name="button"
	on:click="{()=>window.location= `/`}"
	>./</button>
</div>
	{#if (html)}
	{@html html}
	{:else}
	wait loading ..
	{/if}

</div>

<style>



</style>
