<script context="module">

//import { make_session_slug_processor } from '@sveltejs/site-kit/utils/slug';
//import { parseChapterSections } from '../../utils/markdown.js'

/*
const SLUG_PRESERVE_UNICODE = false;
const SLUG_SEPARATOR = '_';

const make_slug = make_session_slug_processor({
		preserve_unicode: SLUG_PRESERVE_UNICODE,
		separator: SLUG_SEPARATOR
	});
*/

export async function preload(page, session) {
	const { part } = page.params;
	const { user } = session
	const chapters = await this.fetch(`/${part}.json`).then(r => {
		let j
		try {
		 j = r.json()
	 } catch (e) {
	 }
	 return j
	});
	/*
  let slug_duppes = 0
	if (chapters && chapters.length) {
		for (const chapter of chapters) {
			try {
				chapter.slug = make_slug(chapter.metadata.title)
			} catch (error) {
				slug_duppes ++
				chapter.slug = make_slug(chapter.metadata.title+'_duplicate_'+Math.random())
			}
			chapter.sections = parseChapterSections(chapter.content)
		}
	}
	*/

	return {user, part, chapters}
}
</script>

<script>
	import marked from 'marked'
	import { onMount } from 'svelte';
	import Error from '../_error.svelte'
	import Part from '../../components/Part.svelte'

	export let user, chapters, part
	let error, status
  onMount(()=>{
   if (!part) {
		 status = 404
		 error = {}
		 error.message = 'Page Not Found'
	 }
	})


</script>

<style>

</style>

<div class="">

	{#if (error)}
	 <Error {status} {error}/>
	{:else}

		{#if ((chapters && chapters.length))}

			<Part {user} {part} {chapters} />
	  {:else}
			no docs (yet)
			{#if (user && user.admin)}
			<a href="/{part}/edit/00-intro"> add </a>
			{/if}
		{/if}
	{/if}

</div>
