<script>

  export let options = []
  export let selected

  let self

</script>

<select
bind:this="{self}"
on:input="{(e)=>{
  console.log(self.selectedIndex,self.options[self.selectedIndex].value)
  selected = self.options[self.selectedIndex].value
}}"
>
    {#each options as option}
    {#if (option === selected)}
    <option value="{option}" selected>{option}</option>
    {:else}
    <option value="{option}">{option}</option>
    {/if}
    {/each}
</select>
