<script>
  export let parts
</script>

<style>

</style>
<div class="row">
  {#each parts as part}

    <div class="card col-12 col-6-md col-4-lg">
    <a href="/{part.name}">
      <header>
        <h4>{part.title}</h4>
      </header>
      <p>{part.annotation}</p>
      <footer class="is-right">
        ...
      </footer>
      </a>
    </div>

  {/each}
</div>
