<script>
	export let flipped = false

	function flip(node, {
		delay = 0,
		duration = 600
	}) {
		return {
			delay,
			duration,
			css: (t, u) => `
				transform: rotateY(${1 - (u * 180)}deg);
				opacity: ${1 - u};
			`
		};
	}
</script>

<style>
	.flipper-container {
    width: 100%;
    height: 100%;
	}

	.flipper {
		width: 100%;
		height: 100%;
		position: absolute;
		perspective: 600;
	}

	.side {
		position: absolute;
		height: 100%;
		width: 100%;
		//background-color: orange;
		overflow: hidden;
		//color: #fff;
		display: flex;
		//justify-content: center;
		//align-items: center;
	}

	.back {
		//background-color: var(--color-lightGrey);
	}
</style>

<div class="flipper-container" on:click={() => flipped = !flipped}>
	<div class="flipper">
		{#if flipped}
		<div class="side" transition:flip>
			<slot name="back" />
		</div>
		{:else}
		<div class="side back" transition:flip>
			<slot name="front" />
		</div>
		{/if}
	</div>
</div>
