<script>
	import { afterUpdate } from 'svelte';
	//import Icon from './Icon.svelte';
  import { Icon } from '@sveltejs/site-kit';

	export let chapters = [];
	export let active_section = null;
	export let show_contents = false;
	export let prevent_sidebar_scroll = false;
	export let part

	let ul;

	afterUpdate(() => {
		// bit of a hack — prevent sidebar scrolling if
		// TOC is open on mobile, or scroll came from within sidebar
		if (prevent_sidebar_scroll || show_contents && window.innerWidth < 832) return;

		const active = ul.querySelector('.active');

		if (active) {
			const { top, bottom } = active.getBoundingClientRect();

			const min = 200;
			const max = window.innerHeight - 200;

			if (top > max) {
				ul.parentNode.scrollBy({
					top: top - max,
					left: 0,
					behavior: 'smooth'
				});
			} else if (bottom < min) {
				ul.parentNode.scrollBy({
					top: bottom - min,
					left: 0,
					behavior: 'smooth'
				});
			}
		}
	});
</script>

<style>


	.reference-toc li {
		display: block;
		line-height: 1.2;
		margin: 0 0 4rem 0;
	}

	a {
		position: relative;
		transition: color 0.2s;
		border-bottom: none;
		padding: 0;
	}

	.chapter {
		display: block;
		padding: 0 0 .8rem 0;
		font-size: 50%;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 600;
	}

	.section {
		display: block;
		font-size: 1.6rem;
		//font-family: var(--font-family);
		padding: 0 0 0.6em 0;
	}

	.chapter:hover,
	.section:hover,
	.active {
		color: var(--color-error);
	}

	.section[data-level="2"] {
		padding-left: .5rem;
		font-size: 1.4rem;

	}

	.section[data-level="3"] {
		padding-left: 1rem;
		font-size: 1.2rem;
	}

	.section[data-level="4"] {
		padding-left: 1.5rem;
		font-size: 1rem;
	}

	.icon-container {
		position: absolute;
		top: -.2rem;
		right: 2.4rem;
	}

  /*
	@media (min-width: 832px) {
		a {
			//color: var(--color-primary);
		}

		a:hover,
		.chapter:hover,
		.section:hover,
		.active {
			color: white
		}
	}
	*/
</style>

<div>
<ul
	bind:this={ul}
	class="reference-toc"
	on:mouseenter="{() => prevent_sidebar_scroll = true}"
	on:mouseleave="{() => prevent_sidebar_scroll = false}"
>

	{#each chapters as chapter}
		<li class="text-white">
			<a class="chapter" class:active="{chapter.slug === active_section}" href="{part}#{chapter.slug}">
				<h1>
				{chapter.metadata.title}
         </h1>
				{#if chapter.slug === active_section}
					<div class="icon-container">
						<Icon name="arrow-right" />
					</div>
				{/if}
			</a>

			{#each chapter.sections as section}
				<a
					class="section"
					class:active="{section.slug === active_section}"
					href="{part}#{section.slug}"
					data-level="{section.level}"
				>
					<h2>
					{section.title}
          </h2>
					{#if section.slug === active_section}
						<div class="icon-container">
							<Icon name="arrow-right" />
						</div>
					{/if}
				</a>
			{/each}
		</li>
	{/each}

</ul>
</div>
