<script>
  import marked from 'marked'
	import { onMount } from 'svelte';
	import GuideContents from './GuideContents.svelte'; // TODO rename
  import { Icon } from '@sveltejs/site-kit';
	//import Icon from './Icon.svelte';
	//import { getFragment } from '../utils/navigation';
	const getFragment = () => window.location.hash.slice(1);


	export let part
	//export let edit_title = 'edit this chapter';
	export let chapters;
	export let user;
	let active_section;

	let container;
	let aside;
	let show_contents = false;

	onMount(() => {
		// don't update `active_chapter` for headings above level 4, see _chapters.js
		const anchors = container.querySelectorAll('[id]:not([data-scrollignore])');

		let positions;

		const onresize = () => {
			const { top } = container.getBoundingClientRect();
			positions = [].map.call(anchors, anchor => {
				return anchor.getBoundingClientRect().top - top;
			});
		}

		let last_id = getFragment();

		const onscroll = () => {
			const top = -window.scrollY;

			let i = anchors.length;
			while (i--) {
				if (positions[i] + top < 40) {
					const anchor = anchors[i];
					const { id } = anchor;

					if (id !== last_id) {
						active_section = id;
						last_id = id;
					}

					return;
				}
			}
		};

		window.addEventListener('scroll', onscroll, true);
		window.addEventListener('resize', onresize, true);

		// wait for fonts to load...
		const timeouts = [
			setTimeout(onresize, 1000),
			setTimeout(onscroll, 5000)
		];

		onresize();
		onscroll();

		return () => {
			window.removeEventListener('scroll', onscroll, true);
			window.removeEventListener('resize', onresize, true);

			timeouts.forEach(timeout => clearTimeout(timeout));
		};
	});
</script>

<style>

  :root {
  	--nav-h:       6rem;
  	--top-offset:  6rem;
  	--sidebar-w:  30rem;
  	--sidebar-mid-w: 36rem;
  	--sidebar-large-w: 48rem;
  	--main-width: 80rem;
  	--side-nav:  3.2rem;
  	--side-page:   var(--side-nav);

  	/* easings */
  	--out-back:    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media screen and (min-width: 768px) {
  	:root {
  		--side-page:  14vw;
  		--top-offset: 10rem;
  		--side-nav: 4.8rem;
  	}
  }

  /*	theme vars */
  .theme-default {
  	--back:       	#ffffff;
  	--back-light: 	#f6fafd;
  	--back-api: 		#eff8ff;
  	--prime:      	#ff3e00;
  	--second:     	#676778;
  	--flash:      	#40b3ff;
  	--heading:	var(--second);
  	--text:      		#444;
  	--sidebar-text: rgba(255, 255, 255, .75);
  	--border-w:  		.3rem; /* border-width  */
  	--border-r:  		.4rem; /* border-radius */
  }

  /*	typo vars */
  .typo-default {
  	--code-fs: 1.3rem;
  	--h6:      1.4rem;
  	--h5:      1.6rem;
  	--h4:      1.8rem; /* default font-size */
  	--h3:      2.6rem;
  	--h2:        3rem;
  	--h1:      3.2rem;
  	--linemax:   42em; /* max line-length */
  	--lh:  		 	  1.5; /* base line-height */
  }

  aside {
		position: fixed;
		background-color: white;
		left: 0.8rem;
		bottom: 0.8rem;
		width: 2em;
		height: 2em;
		overflow: hidden;
		border: 1px solid #eee;
		box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
		transition: width 0.2s, height 0.2s;
	}
	aside button {
		position: absolute;
		bottom: 0;
		left: 0;
    padding: 0;
    width: 100%;
    height: 100%;

	}
  aside button.display {
    display: none;
  }

	aside.open {
		width: calc(100vw - 3rem);
		height: calc(100vh - var(--nav-h));
	}
	aside.open::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 2rem);
		height: 2em;
		background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,1) 100%);
		pointer-events: none;
		z-index: 2;
	}
	aside::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 1.9em;
		width: calc(100% - 2rem);
		height: 2em;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,1) 100%);
		pointer-events: none;
	}
	.sidebar {
		position: absolute;
		font-family: var(--font);
		overflow-y: auto;
		width: 100%;
		height: 100%;
		padding: 4em 1.6rem 2em 3.2rem;
		bottom: 2em;
	}
	.content {
		width: 100%;
		margin: 0;
		padding: var(--top-offset) var(--side-nav);
		tab-size: 2;
		-moz-tab-size: 2;
	}
	@media (min-width: 832px) { /* can't use vars in @media :( */
  /*
		aside {
			display: block;
			width: var(--sidebar-w);
			height: 100vh;
			top: 0;
			left: 0;
			overflow: hidden;
			box-shadow: none;
			border: none;
			overflow: hidden;
			background-color: var(--second);
			color: white;
		}
		aside.open::before {
			display: none;
		}
		aside::after {
			content: '';
			bottom: 0;
			height: var(--top-offset);
			background: linear-gradient(to bottom, rgba(103,103,120,0) 0%, rgba(103,103,120,0.7) 50%, rgba(103,103,120,1) 100%);
		}
		aside button {
			display: none;
		}

		.sidebar {
			padding: var(--top-offset) 0 6.4rem 3.2rem;
			font-family: var(--font);
			overflow-y: auto;
			height: 100%;
			bottom: auto;
			width: 100%;
		}
    */
		.content {
			padding-left: calc(var(--sidebar-w) + var(--side-nav));
		}
		.content :global(.side-by-side) {
			display: grid;
			grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
			grid-gap: 1em;
		}
		.content :global(.side-by-side) :global(.code) {
			padding: 1em 0;
		}
	}
	.content h2 {
		margin-top: 8rem;
		padding: 2rem 1.6rem 4rem 0.2rem;
		border-top: var(--border-w) solid #6767785b; /* based on --second */
		color: var(--text);
		line-height: 1;
		font-size: var(--h3);
		letter-spacing: .05em;
		text-transform: uppercase;
	}
	.content section:first-of-type > h2 {
		margin-top: 0;
	}
	.content :global(h4) {
		margin: 2em 0 1em 0;
	}
	.content :global(.offset-anchor) {
		position: relative;
		display: block;
		top: calc(-1 * (var(--nav-h) + var(--top-offset) - 1rem));
		width: 0;
		height: 0;
	}
	.content :global(.anchor) {
		position: absolute;
		display: block;
		background: url(/icons/link.svg) 0 50% no-repeat;
		background-size: 1em 1em;
		width: 1.4em;
		height: 1em;
		left: -1.3em;
		opacity: 0;
		transition: opacity 0.2s;
		border: none !important; /* TODO get rid of linkify */
	}
	@media (min-width: 768px) {
		.content :global(h2):hover :global(.anchor),
		.content :global(h3):hover :global(.anchor),
		.content :global(h4):hover :global(.anchor),
		.content :global(h5):hover :global(.anchor),
		.content :global(h6):hover :global(.anchor) {
			opacity: 1;
		}
		.content :global(h5) :global(.anchor),
		.content :global(h6) :global(.anchor) {
			top: 0.2em;
		}
	}
	.content :global(h3),
	.content :global(h3 > code) {
		margin: 6.4rem 0 0 0;
		padding: 2rem 1.6rem 5.6rem .2rem;
		color: var(--text);
		border-top: var(--border-w) solid #6767781f; /* based on --second */
		background: transparent;
		line-height: 1;
	}
	.content :global(h3):first-of-type {
		border: none;
		margin: 0;
	}
	/* avoid doubled border-top */
	.content :global(h3 > code) {
		border-radius: 0 0 0 0;
		border: none;
		font-size: inherit;
	}
	.content :global(h4),
	.content :global(h4 > code) {
		font-family: inherit;
		font-weight: 600;
		font-size: 2.4rem;
		color: var(--second);
		margin: 6.4rem 0 1.6rem 0;
		padding-left: 0;
		background: transparent;
		line-height: 1;
		padding: 0;
		top: 0;
	}
	.content :global(h4 > em) {
		opacity: 0.7;
	}
	.content :global(h5) {
		font-size: 2.4rem;
		margin: 2em 0 0.5em 0;
	}
	.content :global(code) {
		padding: .3rem .8rem .3rem;
		margin: 0 0.2rem;
		top: -.1rem;
		background: var(--back-api);
	}
	.content :global(pre) :global(code) {
		padding: 0;
		margin: 0;
		top: 0;
		background: transparent;
	}
	.content :global(pre) {
		margin: 0 0 2em 0;
		width: 100%;
		max-width: 100%;
	}
	.content :global(.icon) {
		width: 2rem;
		height: 2rem;
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
	.content :global(table) {
		margin: 0 0 2em 0;
	}
	section > :global(.code-block) > :global(pre) {
		display: inline-block;
		/* background: var(--back-api); */
		color: white;
		padding: .3rem .8rem;
		margin: 0;
		max-width: 100%;
	}
	section > :global(.code-block)> :global(pre.language-markup) {
		padding: .3rem .8rem .2rem;
		background: var(--back-api);
	}
	section > :global(p) {
		max-width: var(--linemax)
	}
	section :global(p) {
		margin: 1em 0;
	}
	small {
		font-size: var(--h5);
		float: right;
		pointer-events: all;
		color: var(--prime);
		cursor: pointer;
	}
	/* no linkify on these */
	small a        { all: unset }
	small a:before { all: unset }
	section :global(blockquote) {
		color: hsl(204, 100%, 50%);
		border: 2px solid var(--flash);
	}
	section :global(blockquote) :global(code) {
		background: hsl(204, 100%, 95%) !important;
		color: hsl(204, 100%, 50%);
	}

</style>

<aside bind:this={aside} class="sidebar-container" class:open={show_contents}>
	<div class="sidebar" on:click="{() => show_contents = false}"> <!-- scroll container -->
		<GuideContents {chapters} {active_section} {show_contents}  {part} />
	</div>

	<button on:click="{() => show_contents = !show_contents}" class:display={show_contents} >
    <!--
    <Icon name="{show_contents? 'close' : 'menu'}"/>
    -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>

	</button>
</aside>



	<div bind:this={container} >

		{#each chapters as chapter}
			<chapter data-id={chapter.slug}>
				<h1 class="text-info">
					<span class="offset-anchor" id={chapter.slug}></span>
          <!-- svelte-ignore a11y-missing-content -->
					<a href="{part}#{chapter.slug}" class="anchor" aria-hidden></a>
					{chapter.metadata.title}
					{#if (user && user.admin)}
  					<small>
  					 &nbsp;
  						<a target="_blank" href="/slides/?{part}/{chapter.md}">
  							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
  						</a>
  				    &nbsp;
  						<a href="/{part}/edit/{chapter.md}">
  							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
  						</a>
						</small>
					{/if}
				</h1>

				{@html marked(chapter.content)}
			</chapter>
			<hr>
		{/each}

	</div>
