<style>
  .empty {
    text-align: var(--listEmptyTextAlign, center);
    padding: var(--listEmptyPadding, 20px 0);
    color: var(--listEmptyColor, #78848F);
  }
</style>

<div class="empty">
  <slot/>
</div>
